:root {
  --red: #d51b28;
  --grey: #221f1f;
  --white: #221f1f;

  --width: 300px;
  --height: 250px;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--width);
  height: var(--width);
}

.border {
  border: 1px solid #000000;
}

.banner {
  position: relative;
  overflow: hidden;
  width: var(--width);
  height: var(--width);
}

.cta {}


