:root {
  --red: #d51b28;
  --grey: #221f1f;
  --white: #221f1f;

  --background: #000000;

  --width: 300px;
  --height: 250px;

  @media all (min-width: 500px) {
    --width: 500px;
  }
}



html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
}

.hide {
  display: none !important;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cover {
  background-color: var(--background);
  display: block;
}

.banner {
  position: relative;
  width: var(--width);
  height: var(--height);
  background-color: var(--background);
  overflow: hidden;

  .content {
    .pedigree {
      position: absolute;
      left: 20px;
      top: 20px;

      > * {
        color: #fff;
        display: block;
      }

      netflix-img,
      netflix-img img {
        height: 40px;
      }
    }
  }
}

.preloader-spinner {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--width);
  height: var(--height);
  background-color: var(--background);
}

#banner {
  position: relative;
  width: var(--width);
  height: var(--height);
}

netflix-video {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

netflix-brand-logo {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.cta {
  overflow: hidden;
  position: absolute;
  width: 109px;
  height: 28px;

  left: calc(var(--width) - (10px + 109px));
  bottom: 14px;

  netflix-cta {
    position: relative !important;
  }
}

netflix-preloader {
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

#banner netflix-flushed-ribbon {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d51b28;
}

.mainExit {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  left: 0;
}
