@font-face {
  font-family: OpenSans;
  src: url('./../fonts/OpenSans-Regular.woff') format('woff'),
  url('./../fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OpenSansBold;
  src: url('./../fonts/OpenSans-Bold.woff') format('woff'),
  url('./../fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
