{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["last 2 versions"],
          "node": "6"
        },
        "loose": true,
        "useBuiltIns": false
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "test": {
    }
  }
}
