<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= banner_width %>x<%= banner_height %></title>

    <link rel="stylesheet" href="./css/style.css" type="text/css">
</head>

<body>
  <div class="preloader-spinner" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 55px;height: 55px;"><style>.preloader-spinner { background-image: url("img/loader.svg") } @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {.preloader-spinner { background-image: url("img/loader.gif") } }@supports (-ms-ime-align:auto) {.preloader-spinner { background-image: url("img/loader.gif") } }</style></div>

  <div id="banner" class="">

  <div id="main">

    <div class="background wrapper">

    </div>

    <div class="characters wrapper">

    </div>

    <div class="content wrapper">

      <div class="titleLockup wrapper">
        <component type="netflix-text" id="pedigreeComponent" class="boldFont" data-dynamic-key="Pedigree"></component>
        <div id="titleTreatment">
          <component type="netflix-img" data-dynamic-key="Title_Treatment_Vertical"></component>
          <div class="ttsub"></div>
        </div>
      </div>

      <div id="titleTreatment2">
        <component type="netflix-img" data-dynamic-key="Title_Treatment_Vertical"></component>
        <component type="netflix-text" id="pedigreeComponent2" class="boldFont" data-dynamic-key="Pedigree"></component>
      </div>

      <div class="copyContainer">
        <component type="netflix-text" id="mainCopyComponent" class="boldFont" data-dynamic-key="Tune_In"></component>

        <component type="netflix-brand-logo" id="logoComponent" width="109"></component>

        <div class="ctaContainer">
          <component type="netflix-cta" id="ctaComponent" class="boldFont" arrow data-dynamic-key="CTA" width="105" height="30"></component>
        </div>

      </div>

    </div>

    <div class="bannerClick"></div>

    <div class="trailerPoster">
      <!-- <img src="img/poster.jpg" class="poster"> -->

      <div class="trailerPlayButton">
        <div class="circle">
          <svg height="20" width="20">
            <path class="playShape" d="M6 5 L6 15 L15 10 Z" />
          </svg>
        </div>
      </div>
    </div>

    <!-- video elements -->

    <component type="netflix-video" id="trailerComponent"
               width="390"
               height="220"
               data-dynamic-key="Trailer"
               color-1="#d51b28"
               color-2="#fff"
               close-color-1="#000"
               close-color-2="#fff"
               hideOnComplete="true"
               controls>
    </component>

    <div class="ribbonClick bannerClick"></div>

    <component type="netflix-video" id="supercutComponent"
               width="970"
               height="250"
               data-dynamic-key="Supercut"
               close-color-1="#000"
               close-color-2="#fff"
               hideOnComplete="true"
               muted="true">
    </component>

    <div class="supercutOverlay">
      <component type="netflix-brand-logo" id="supercutLogoComponent" width="96"></component>
      <component type="netflix-text" id="supercutCopyComponent" class="boldFont" data-dynamic-key="Supercut_Tune_In"></component>
    </div>

    <component type="netflix-flushed-ribbon" id="ribbonComponent" width="970" height="250"></component>

  </div>

</div>

  <script src="https://s0.2mdn.net/ads/studio/Enabler.js"></script>
  <script src="https://s0.2mdn.net/ads/studio/cached_libs/timelinelite_2.0.1_min.js"></script>
</body>
</html>
