<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{settings.size.width}}x{{settings.size.height}}</title>

    <link rel="stylesheet" href="./css/style.css" type="text/css">
</head>

<body>
  <div class="banner border">
    <ft-default clicktag="1">
      <div class="content fullscreen">

        <ft-dynamic name="textVariable"></ft-dynamic>

      </div>
    </ft-default>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
  <script src="https://cdn.flashtalking.com/frameworks/js/api/2/10/html5API.js"></script>
</body>
</html>
