:root {
  --red: #d51b28;
  --grey: #221f1f;
  --white: #221f1f;

  --background: #000000;

  --width: <%= banner_width %>px;
  --height: <%= banner_height %>px;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
}

body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.initial-load-hider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: auto;
  background-color: var(--background);
  pointer-events: none;
}

.main-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: url('../img/1x1_blank.png');
}

.cta-btn {
  width: 100px;
  height: 50px;

  position: absolute;
  left: 50%;
  top: 50%;
}

.pedegree-container {
  position: absolute;
  left: 10px;
  top: 10px;

  width: 250px;
  height: 58px;

  > * {
    position: absolute;
  }

  > netflix-img {
    top: 20px;
  }

  .supercut-tune-in {
    top: 50px;
  }

  .tune-in {
    top: 80px;
  }
}

.hide {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.boldFont {
  font-weight: 700;
}

#banner {
  color: #fff;
  position: relative;
  width: var(--width);
  height: var(--height);
  border: solid 1px #000;
  overflow: hidden;
  background-color: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

netflix-video {
  position: absolute;
  width: 300px;
  height: 600px;

  left: 0;
  top: 0;
}

netflix-brand-logo {
  position: absolute;
  bottom: 1vmax;
  left: 1vmax;
}

.supercutOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 1;

  #supercutLogoComponent {
    position: absolute;
    bottom: 11px;
    left: 15px;
  }

  #supercutCopyComponent {
    position: absolute;
    color: #fff;
    width: 160px;
    right: 14px;
    bottom: 10px;
    line-height: 15px;
    text-align: right;
    font-size: 13.5px;
  }
}
